html, body{
  height:100%;
  margin: 0 auto;
}

.page{
  height:100%;
  display:flex;
  flex-direction:column;
}

.header{
  background-color: #F75000;
}

.content{
  background-color:red;
  flex-grow:1;
  display:flex;
  overflow:hidden;
}

.column1{
  background-color:#4c2c4e;
  width:33.3%;
  overflow-y:auto;
}

.column2{
  background-color:#24c9c8;
  width:66.7%;
  overflow-y:auto;
}

h1 {
  color: white;
  text-align: center;
}
            
h2 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
